services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    #volumes:
      #- ./site:/var/www/html
    ports:
      - "81:80"
    depends_on:
      - db

  db:
    image: mysql:8.0
    restart: always
    volumes:
      - mysql:/var/lib/mysql
      - ./database:/docker-entrypoint-initdb.d
    environment:
      MYSQL_ROOT_PASSWORD: malik
      MYSQL_DATABASE: mydb

  phpmyadmin:
    image: phpmyadmin
    restart: always
    ports:
      - "8082:80"
    depends_on:
      - db
    environment:
      PMA_HOST: db
      PMA_PASSWORD: malik

volumes:
  mysql:
